@model IEnumerable<BlogApplication.Models.Blog>

@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>


<div>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <a asp-area="" asp-controller="Blogs" asp-action="Details" asp-route-id="@item.Id">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem; margin-left:20px;">
                    <div class="card-header">Blog @Html.DisplayFor(modelItem => item.Id)</div>
                        <div class="card-body">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Subheading)</p>
                         </div>
                </div>
                </a>
            </div>
        }
        
    </div>
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
