@model IEnumerable<BlogApplication.Models.Blog>

@{
    ViewData["Title"] = "Home ";
}

    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/lib/Images/MiamiSkylineSunsetImage.jpg');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading" style="opacity:70%;" style=":hover">
                            <h1>Miami's Coffee Blog</h1>
                            <span class="subheading">Follow along as I explore and taste the unique coffee shops of South Florida</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5" style="text-align:center;">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    @foreach (var item in Model)
                {
                    <div class="post-preview">
                        <a class="post-title" asp-area="" asp-controller="Blogs" asp-action="Details" asp-route-id="@item.Id">
                            <h2 class="post-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                            <h3 class="post-subtitle">@Html.DisplayFor(modelItem => item.Subheading)</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">@Html.DisplayFor(modelItem => item.Author)</a>
                            @Html.DisplayFor(modelItem => item.CreatedDateTime)
                        </p>
                    </div>
                }
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
